<div *ngIf="livro != null;else semDados" class="col l6">
  <div class="row">
    <div class="col l4 s12 capa-holder">
      <div class="responsive-img capa" [style.background]="sanitize(livro.capa)" (mouseover)="toastSemCapa()"></div>
    </div>

    <div class="col l8 s12">
      <div class="row">
        <div class="col l10">
          <b><h6 style="color:#9C27B0">{{livro.titulo}}</h6></b>
        </div>
        <div class="col l2">
          <a class="btn-floating btn waves-effect waves-light purple" (click)="toastEmConstrucao()"><i class="material-icons">bookmark_border</i></a>
        </div>
      </div>
      <div class="row">
        <ul class="col l12">
          <li>Autor(a): <span>{{livro.escrito_por}}</span></li>
          <li>Gênero: <span>{{livro.genero}}</span></li>
          <li>
            Resumo: 
            <span>{{resumo}}</span>
            <span *ngIf="canVerMais" class="new badge orange" data-badge-caption="detalhes" (click)="verMais()">{{ verMaisText }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<ng-template #semDados>
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
</ng-template>
