<div *ngIf="livro != null;else semDados">
  <div class="row">
    <div class="col l6 s12">
      <img class="responsive-img" src="{{livro.capa}}" alt="">
    </div>

    <div class="col l6 s12">
      <h2>{{livro.titulo}}</h2>
      <p>Autor(a): <span>{{livro.escrito_por}}</span></p>
      <p>Gênero: <span>{{livro.genero}}</span></p>
      <p>ISBN: <span>{{livro.isbn}}</span></p>
      <p>Resumo: <span>{{livro.resumo}}</span></p>
    </div>
  </div>
</div>


<ng-template #semDados>
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
</ng-template>
