<div class="col l3 s12 m12">

  <div>
    <div class="card small">
      <div class="card-image">
        <img src="{{livro.capa}}">
      </div>
      <div class="card-content">
        <p>{{ livro.titulo }}</p>
      </div>
      <div class="card-action">
        <a class="btn-floating btn waves-effect waves-light purple"><i class="material-icons"
        (click)="apagarLivro()">delete</i></a>
        <a class="btn-floating btn waves-effect waves-light purple"><i class="material-icons">thumb_up</i></a>
        <a class="btn-floating btn waves-effect waves-light purple modal-trigger" href="#modalLivro"
           (click)="visualizarLivro()"><i class="material-icons">remove_red_eye</i></a>
      </div>
    </div>
  </div>
</div>



