<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#test1" >Estante Global</a></li>
        <li class="tab col s6"><a href="#test4" >Minha Estante</a></li>
        <div class="indicator purple" style="z-index:1"></div>
      </ul>
    </div>

    <div id="test1" class="col s12">
      <div class="row">
        <div class="col l3 s12 offset-l9">
          <div class="input-field">
            <input placeholder="Pesquisar" class="filtro" id="filtroGlobal" type="search" (keyup)="filtroGlobal($event.target.value)">
            <label class="label-icon" for="filtroGlobal"><i class="material-icons">search</i></label>
          </div>
        </div>

        
      </div>
      <div class="row">
  
          <div *ngFor="let livro of books">
            <app-detalhes-de-livro [livro]="livro"></app-detalhes-de-livro>
          </div>
        
      </div>
    </div>

    <div id="test4" class="col s12">
      <div class="row">
        <div class="col l3 offset-l9 s12">
          <div class="input-field">
            <input placeholder="Pesquisar" class="filtro" id="filtroGlobal" type="search" (keyup)="filtroGlobal($event.target.value)">
            <label class="label-icon" for="filtroGlobal"><i class="material-icons">search</i></label>
          </div>
        </div>
      </div>
      <div class="row">

        <div>
          <div *ngFor="let livro of books">
            <app-detalhes-de-livro [livro]="livro"></app-detalhes-de-livro>
            <button (click)="editarLivro(livro)">Editar</button>
            <button (click)="removerLivro(livro)">Remover</button>
          </div>
        </div>
      </div>
      <ng-template #estanteVazia>
        <span>Sem livros na sua estante.</span>
      </ng-template>
    </div>
  </div>
</div>


<!-- Modal Trigger -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light btn modal-trigger purple" href="#novoLivro">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Modal Structure -->
<div id="novoLivro" class="modal">
  <div class="modal-content">
    <h4>Cadastro de livro</h4>
    <app-novo-livro></app-novo-livro>
  </div>
</div>


<!-- Modal Structure
<div id="modalLivro" class="modal">
  <div class="modal-content">
<app-detalhes-de-livro [livro]="livroSelecionado"></app-detalhes-de-livro>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div> -->
