<app-navbar></app-navbar>

<div class="container">

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#test1">Estante Global</a></li>
        <li class="tab col s6"><a href="#test4">Minha Estante</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <div class="row">
        <div class="col l12">
          <div class="input-field">
            <input id="filtroGlobal" type="search" (keyup)="filtroGlobal($event.target.value)">
            <label class="label-icon" for="filtroGlobal"><i class="material-icons">search</i></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let livro of resultadosDaBuscaGlobal">
          <app-cartao-de-livro [livro]="livro"></app-cartao-de-livro>
        </div>
      </div>
    </div>
    <div id="test4" class="col s12">
      <div class="row">
        <div class="col l12">
          <div class="input-field">
            <input id="filtro" type="search" (keyup)="filtroDoUsuario($event.target.value)">
            <label class="label-icon" for="filtro"><i class="material-icons">search</i></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let livro of resultadosDaBuscaDoUsuario">
          <app-cartao-de-livro [livro]="livro"></app-cartao-de-livro>
        </div>
      </div>
    </div>
  </div>
</div>

