<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a data-target="modal1" class="modal-trigger">Perfil</a></li>
    <li class="divider"></li>
    <li><a href="#!">Sair</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#!" class="brand-logo"><i class="material-icons">book</i>ThinderBooks</a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="estante">Estante</a></li>
          <!-- <li><a href="">Notificações</a></li> -->
            <li>
              <a class="dropdown-button" href="#!" data-activates="dropdown1">
                {{ usuario.nome }}
            <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Meu perfil</h4>
    <ul class="collection">
      <li class="collection-item avatar">
        <img class="circle" src="{{usuario.foto}}">
        <h5>{{ usuario.nome }} {{ usuario.sobrenome }}</h5>
        <p>E-mail: {{usuario.email}}</p>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

