.welcome{
    background-image: url(http://noticias.universia.com.br/net/images/educacion/l/li/liv/livros-jose-alencar.jpg);
}

.titulo{
    color: #000;
    text-shadow: 3px 3px 3px #FFF;
}

.conteudo{
    margin-left: 20%;
}

